body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: 'Platypi', sans-serif;
  font-size: 10vh;
  color: white;
}
model-viewer {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
    z-index: 1;
}
