body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FF5F00;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 8vh;
}
model-viewer {
  position: absolute;
  width: 70vh;
  height: 70vh;
  max-width: 600px;
  max-height: 600px;
    z-index: 1;
}
@media (max-width: 600px) {
.headline {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 8vh;
  text-align: center;
  margin-top: 0vh;
  position: fixed;
  color: blue;
}
}

@media (min-width: 1200px) {
  .headline {
text-align: center;
margin-top: 0vh;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 6vh;
    position: fixed;
    color: blue;
  }


}
.b-i {
  background-image: url('./raster.webp');
  background-size: cover;
  width: 100vh;
  height: 100vh;
}

@keyframes colorChange {
            0% {
                color: blue;
            }
            50% {
                color: pink;
            }
            100% {
                color: blue;
            }
        }

.color-change {
            animation: colorChange 5s infinite;
        }

        .blur-text {
           transition: filter 0.3s ease;
       }

       .blur-text:hover {
           filter: blur(5px);
       }



       /* Basisstil für alle Links */
a {
    color: black; /* Textfarbe */
    text-decoration: none; /* Entfernt die Unterstreichung */
    transition: color 0.5s ease; /* Übergangseffekt für die Farbe */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100px;
}

/* Stil für Links beim Hover */
a:hover {
    color: #1f1f1f; /* Ändert die Textfarbe beim Hover */
    text-decoration: none;
    filter: blur(5px);
}

/* Stil für aktive Links */
a:active {
    color: green; /* Ändert die Textfarbe, wenn der Link aktiv ist */
}

/* Stil für besuchte Links */
a:visited {
    color: black; /* Ändert die Textfarbe für besuchte Links */
}

@media (max-width: 600px) {
          .blur-text {
              font-size: 6vw; /* Größere Schriftgröße für kleinere Bildschirme */
              z-index: 2;
          }

          .btext {
            position: fixed;
                    filter: blur(5px);
                    font-size: 3vh; /* Größere Schriftgröße für kleinere Bildschirme */
                    z-index: -1;
                }

      }

@media (min-width: 1200px) {
          .blur-text {
              font-size: 6vh; /* Kleinere Schriftgröße für sehr große Bildschirme */
              z-index: 1;
      }
      .btext {
        position: fixed;
        align-content:
                filter: blur(5px);
                font-size: 3vh; /* Größere Schriftgröße für kleinere Bildschirme */
                z-index: -1;
            }
          }

.fixed-header {
                     position: fixed;
                     top: 0;
                     left: 0;
                     width: 100%;
                     background-color: black;
                   }

.fixed-h {
                                          position: fixed;
                                          top: 0;
                                          left: 0;
                                          width: 100%;







font-size:3vh;
                     color: #dcff5f;
                     text-align: center;
                     padding: 2px 0;
                     z-index: 1000; /* Höherer z-index, um sicherzustellen, dass die Überschrift über anderen Inhalten bleibt */
                 }
